.AnsColumn{
    flex-grow: 0;
    width: 720px;
    min-height: 100vh;
    background-color: #3c4254;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.AnsColumn-container{
    width: 90%;
    max-width: 560px;
    padding: 24px 0px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.AnsColumn-topic{
    width: 128px;
    height: 30px;
    background-color: #e4eefa;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.AnsColumn-text{
    color: white;
    padding: 20px;
}