.Countdown-container{
    background-color: #3c4254;
    color: #fff;  
    width: 200px;
    height: 80px;
    z-index: 500; /* 不然會被input給擋到 */
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 16px 16px;
    opacity: 0.8;
    box-shadow: 8px 8px 10px -5px grey;
}

.Countdown-card{
    width: 80px;
    height: 80px;
    border: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.colon{
    font-size: 24px;
}