.DataList{
    width: 100%;
    display: flex;
    z-index: auto;
    flex-wrap: wrap;
    padding: 10px;
    

}

.DataList-tag{
    height: 40px;
    padding: 10px;
    margin: 5px;
    display: flex;
    z-index: auto;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.DataList-clickableTag img{
    height: 20px;
    margin-left: 5px;
}

.DataList-clickableTag:hover{
    opacity: 0.5;
}

.Monitor{
    background-color: #FABEC5;
}

.Dialogue{
    background-color: #D1C4B2;
}

.PE{
    background-color: #EDE8CB;
}

.Lab{
    background-color: #E3DFDA;
}
    
.Image{
    background-color: #F5C889;
}

