.SearchBar-card{
    background: #fff;
    width: 90%;
    max-width: 640px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #b3c6ff;
    border-radius: 8px;
    box-shadow: 8px 8px 6px -8px #b3c6ff;
}

.SearchBar-bar{
    background: #fff;
    width: 90%;
    max-width: 560px;
    min-height: 45px;
    margin: 30px 0px;
    padding: 0px;
    display: flex;
    border: 0.5px solid #b3c6ff;
    border-radius: 8px;
}

.SearchBar-illegalBar{
    border: 2px solid #FABEC5;;
}


.SearchBar-selectCate{
    background: #e4eefa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6f768d;
    width: 220px;
    padding: 0px 15px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
}

.SearchBar-selectCate:hover img{
    opacity: 0.3;
}

.SearchBar-selectCate img{
    height: 15px;
    opacity: 0.6;
}

.SearchBar-selectCate ul{
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    background-color: #fff;
    color: #6f768d;
    width: 95%;
    border-radius: 4px;
    border: 0.5px solid #b3c6ff;
    overflow: hidden; /* 要再寫這個才是會真的不見 */
    transition: max-height 0.2s; /* 動畫過場 */
}

.SearchBar-selectCate ul.close {
    display: none;
}

.SearchBar-selectCate ul.open {
    max-height: 500px;
}

.SearchBar-selectCate li{
    padding: 12px 20px;
}

.SearchBar-selectCate li:hover{
    background-color: #b3c6ff;
    color: black;
}



.SearchBar-searchBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 2%;
    position: relative;
    border-radius: 8px;
}

.SearchBar-inputColumn{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.SearchBar-searchBox input{
    flex-grow: 1;
    height: 40px;
    padding: 0px 5px;
    border: none;
    outline: none; /* 沒寫這個的話 輸入input的時候會有一圈橘框 */
    font-size: 16px;
    color: #6f768d
}



.SearchBar-searchBox .SearchBar-searchList{
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    background-color: #fff;
    color: #6f768d;
    width: 100%;
    border-radius: 4px;
    border: 0.5px solid #b3c6ff;
    overflow: hidden;
}

.SearchBar-searchBox .close{
    display: none;
}

.SearchBar-searchBox .open{
    max-height: 350px;
    overflow-y: auto;
}

.SearchBar-searchBox .SearchBar-searchList li{
    padding: 12px 5%;
}

.SearchBar-searchBox .SearchBar-searchList li:hover{
    background-color: #b3c6ff;
    color: black;
}

.SearchBar-searchBox .SearchBar-searchList li.focus{
    background-color: #b3c6ff;
    color: black;
}



.SearchBar-searchBox img{
    height: 20px;
}

.SearchBar-button{
    background-color: #fff;
    opacity: 0.6;
    border: none;
    margin-right: 10px;
    align-items: center;
    display: flex;
    outline: none;
}

.SearchBar-button:hover{
    opacity: 0.3;
}



.SearchBar-tag{
    display: flex;
    flex-wrap: wrap;
    
}

.SearchBar-tag li{
    white-space: nowrap;
    height: 36px;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #b3c6ff;
}

.SearchBar-tag img{
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.SearchBar-tag img:hover{
    opacity: 0.5;
}