*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

.container{
    background: #e4eefa;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBarCard{
    background: #fff;
    width: 90%;
    max-width: 640px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #b3c6ff;
    border-radius: 8px;
    box-shadow: 8px 8px 6px -8px #b3c6ff;
}

.searchBar{
    background: #fff;
    width: 90%;
    max-width: 560px;
    height: 45px;
    padding: 0px;
    display: flex;
    border: 0.5px solid #b3c6ff;
    border-radius: 8px;
}

.searchBar-illegal{
    border: 2px solid #FABEC5;;
}


#selectCate{
    background: #e4eefa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6f768d;
    width: 220px;
    padding: 0px 15px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
}

#selectCate:hover img{
    opacity: 0.3;
}

#selectCate img{
    height: 15px;
    opacity: 0.6;
}

#selectCate ul{
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #fff;
    color: #6f768d;
    width: 95%;
    border-radius: 4px;
    border: 0.5px solid #b3c6ff;
    overflow: hidden; /* 要再寫這個才是會真的不見 */
    transition: max-height 0.2s; /* 動畫過場 */
}

#selectCate ul.close {
    display: none;
}

#selectCate ul.open {
    max-height: 500px;
}

#selectCate li{
    padding: 12px 20px;
}

#selectCate li:hover{
    background-color: #b3c6ff;
    color: black;
}



#searchBox {
    display: flex;
    width: 100%;
    padding: 0px;
    position: relative;
    border-radius: 8px;
}

#searchBox input{
    padding: 0px 5%;
    width: 200%;
    border: none;
    outline: none; /* 沒寫這個的話 輸入input的時候會有一圈橘框 */
    font-size: 16px;
    color: #6f768d
}

#searchBox ul{
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #fff;
    color: #6f768d;
    width: 100%;
    border-radius: 4px;
    border: 0.5px solid #b3c6ff;
    overflow: hidden;
}

#searchBox ul.close{
    display: none;
}

#searchBox ul.open{
    max-height: 350px;
    overflow-y: auto;
}

#searchBox li{
    padding: 12px 5%;
}

#searchBox li:hover{
    background-color: #b3c6ff;
    color: black;
}

#searchBox li.focus{
    background-color: #b3c6ff;
    color: black;
}

#searchBox img{
    height: 20px;
}

.SearchBar-button{
    background-color: #fff;
    opacity: 0.6;
    border: none;
    margin-right: 20px;
    align-items: center;
    display: flex;
    outline: none;
}

.SearchBar-button:hover{
    opacity: 0.3;
}