.Tables-overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 600;
}

.Tables-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
}

.Tables-table{
    background-color: aliceblue;
    text-align: center;
    border-radius: 8px;
    border-collapse: collapse;
    padding: 10px;

}

.Tables-table th{
    padding: 10px;
    border-bottom: 1px solid black;
}

.Tables-table td{
    padding: 10px;
}